
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="newTaskForm">
          <div class="form-group">
            <input [(ngModel)]="newTask.label" name="taskLabel" type="text" class="form-control" placeholder="Task label">
          </div>
          <div class="form-group">
            <input [(ngModel)]="newTask.description" name="taskLabel" type="text" class="form-control" type="text" class="form-control" placeholder="Description" >
          </div>
          <div class="form-group">
            <input [(ngModel)]="newTask.category" name="taskLabel" type="text" class="form-control" type="text" class="form-control" placeholder="Category" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelNew()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addTask()">Add task</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="toDoControls">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Task
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Label</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" placeholder="search"></td>
        <td><input type="text" placeholder="search"></td>
        <td><input type="text" placeholder="search"></td>
        <td>
          <input type="checkbox" class="custom-control-input" id="hideDoneSwitch">
          <label class="custom-control-label" for="hideDoneSwitch">Hide Done</label>
        </td>
      </tr>
      <ng-container *ngFor="let item of getList()">
        <tr *ngIf="!(item['hidden'] === true)" class="toDoRow">
          <td>
            <div *ngIf="!(item['editing'] === true) else elseEditingLable">
              <div class="todoItem" (dblclick)="editToDo(item, true)">
                {{ item['label'] }}
              </div>
            </div>
            <ng-template #elseEditingLable>
              <div class="todoEditInput">
                <input type="text" [(ngModel)]="item.label" 
                  (blur)="editToDo(item, false)"
                  (keyup.esc)="editToDo(item, false)">
              </div>
            </ng-template>
          </td>
          <td>
            <div *ngIf="!(item['editing'] === true) else elseEditingDesc">
              <div class="todoItem" (dblclick)="editToDo(item, true)">
                {{ item['description'] }}
              </div>
            </div>
            <ng-template #elseEditingDesc>
              <div class="todoEditInput">
                <input type="text" [(ngModel)]="item.description" 
                  (blur)="editToDo(item, false)"
                  (keyup.esc)="editToDo(item, false)">
              </div>
            </ng-template>
          </td>
          <td>
            <div *ngIf="!(item['editing'] === true) else elseEditingCate">
              <div class="todoItem" (dblclick)="editToDo(item, true)">
                {{ item['category'] }}
              </div>
            </div>
            <ng-template #elseEditingCate>
              <div class="todoEditInput">
                <input type="text" [(ngModel)]="item.category" 
                  (blur)="editToDo(item, false)"
                  (keyup.esc)="editToDo(item, false)">
              </div>
            </ng-template>
          </td>
          <td>
            <div *ngIf="item['done'] === false else elseDone">
              <input type="checkbox" (click)="markDoneTask(item)">
            </div>
            <ng-template #elseDone>
              <div class="taskDone">
                <div class="taskDoneDate"> {{item['done'] }} </div>
                <button type="button" class="btn btn-warning taskDoneButton" (click)="undoTask(item)">Un-do</button>
                <button type="button" class="btn btn-danger taskDoneButton" (click)="deleteTask(item)">Delete</button>
              </div>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>