.toDoControls{
    text-align: center;
    padding-bottom: 15px;
}

.taskDone {
    position: absolute;
}

.taskDoneButton {
    margin-right: 15px;
    visibility: hidden;
}

.taskDone:hover div.taskDoneDate {
    visibility: hidden;
    position: absolute;
}

.taskDone:hover button.taskDoneButton {
    visibility: visible;
}
